.header-hero {
    margin-top: 30px;
    position: relative;
}

.header-hero .logo img {
    width: 200px;

}

.header-hero .search {
    margin: 0 auto;
}

.header-hero .search input {
    color: #404040;
}

.header-hero .search input::placeholder {
    color: #404040;
}


@media screen and (max-width: 768px) {
    .header-hero .flex {
        flex-direction: column;
        gap: 15px;
    }
}